* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

header {
    width: 100%;
    height: 70px;
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Fh1 {
    border: 1px solid #fff;
    padding: 5px;
    background-color: #706d6d;
}

header h1 a {
    font-size: 20px;
    color: rgb(252, 46, 46);

}

header nav {
    margin: 20px;
}

header ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header ul a {
    width: 500px;
    height: 50px;
    color: rgb(223, 59, 59);
    padding: 15px;
    text-transform: uppercase;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.indexphoto img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.xazi {
    width: 10px;
    height: 10px;
    margin-left: 415px;
    margin-top: 270px;
    border-radius: 50%;
    background-color: #ff0000;
    position: relative;
    animation: xazitriali 3s 3s infinite;
}

@keyframes xazitriali {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 400px;
        top: 0;
    }

    50% {
        left: 400px;
        top: 200px;
    }

    75% {
        left: -5px;
        top: 200px;
    }

    100% {
        left: -5px;
        top: 0;
    }
}

form {
    width: 380px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
    position: relative;
    left: 430px;
    top: 20px;
}

input {
    display: block;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

input[type="username"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #222222;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #222222;
}

input[type="submit"] {
    background-color: #088848;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}





/*---footer---*/

.socialicons {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 500px;
    right: 0;
}

.facebook {
    width: 100%;
    height: 50px;
    background-image: url(img/facebook.png);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.facebook:hover {
    background-image: url(img/facebookhover.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.Github {
    width: 100%;
    height: 50px;
    background-image: url(img/github.png);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.Github:hover {
    background-image: url(img/githubhover.png);
    background-size: 100%;
    background-repeat: no-repeat;
}


/*---Home---*/
.homephoto {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.homee {
    color: #ff0000;
    background-color: #706d6d;
    border: 1px solid #fff;
}

.alcohol {
    width: 500px;
    height: 300px;
    position: relative;
    left: 700px;
    top: 50px;
}

.alcohol img {
    width: 50%;
    margin-left: 100px;
}

.alcoholtext {
    width: 250px;
    margin-left: 110px;
    color: #0c0101;
    letter-spacing: 2px;
}

.jager {
    width: 500px;
    height: 300px;
    position: relative;
    top: -260px;
    left: 50px;
}

.jager img {
    width: 50%;
    margin-left: 100px;
}

.jagertext {
    width: 250px;
    margin-left: 110px;
    color: #0c0101;
    letter-spacing: 2px;
}

.tequila {
    width: 500px;
    height: 300px;
    position: relative;
    top: -450px;
}

.tequila img {
    width: 50%;
    margin-left: 475px;
}

.tequilatext {
    width: 250px;
    height: 150px;
    margin-left: 480px;
    color: #0c0101;
    letter-spacing: 2px;
}

.ordernowhome {
    width: 150px;
    height: 50px;
    top: -205px;
    text-align: center;
    background-color: #ff7b00;
    border-radius: 20px;
    padding-top: 10px;
    position: relative;
    left: 1000px;
    cursor: pointer;
}

.ordernowhome a {
    color: rgb(32, 32, 32);
}

.nextpage {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 450px;
    right: 0;
    margin-right: 30px;
}

.nextpage img {
    width: 100%;
}

.backpage {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 450px;
    left: 0;
    margin-left: 30px;
}

.backpage img {
    width: 100%;
}

.cocteil4 {
    width: 500px;
    height: 300px;
    position: relative;
    left: 700px;
    top: 50px;
}

.cocteil4 img {
    width: 50%;
    margin-left: 105px;
}

.cocteil4text {
    width: 250px;
    margin-left: 110px;
    color: #0c0101;
    letter-spacing: 2px;
}

.cocteil3 {
    width: 500px;
    height: 300px;
    position: relative;
    top: -260px;
    left: 50px;
}

.cocteil3 img {
    width: 50%;
    margin-left: 100px;
}

.cocteil3text {
    width: 250px;
    margin-left: 110px;
    color: #0c0101;
    letter-spacing: 2px;
}

.cocteil5 {
    width: 500px;
    height: 300px;
    position: relative;
    top: -400px;
}

.cocteil5 img {
    width: 50%;
    margin-left: 475px;
}

.cocteil5text {
    width: 250px;
    height: 150px;
    margin-left: 480px;
    color: #0c0101;
    letter-spacing: 2px;
}

.ordernow {
    width: 150px;
    height: 50px;
    top: -205px;
    text-align: center;
    background-color: #ff7b00;
    border-radius: 20px;
    padding-top: 10px;
    position: relative;
    left: 1000px;
    cursor: pointer;
}

.ordernow a {
    color: rgb(32, 32, 32);
}




/*---ABOUT---*/
.aboutphoto img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.aboutnext {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 300px;
    right: 0;
    margin-right: 30px;
}

.aboutback {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 300px;
    left: 0;
    margin-left: 30px;
}

.aboutback img {
    width: 100%;
}

.aboutnext img {
    width: 100%;
}

.meore {
    color: #ff0000;
    border: 1px solid #fff;
    background-color: #706d6d;
}

.order {
    width: 150px;
    height: 50px;
    top: 600px;
    text-align: center;
    background-color: #ff7b00;
    border-radius: 20px;
    padding-top: 10px;
    position: relative;
    left: 1000px;
    cursor: pointer;
}

.order a {
    color: rgb(32, 32, 32);
}

.shekveta {
    width: 400px;
    height: 200px;
    position: relative;
    left: 150px;
    top: 50px;
}

.shekveta img {
    width: 100%;
}

.shekveta p {
    font-size: 26px;
    color: #e100ff;
    margin-left: 300px;
    margin-top: 20px;
}

.shekveta2 {
    width: 400px;
    height: 200px;
    position: relative;
    left: 650px;
    top: -145px;
}

.shekveta2 img {
    width: 100%;
}

.shekveta2 p {
    font-size: 26px;
    color: #e100ff;
    margin-left: 300px;
    margin-top: 20px;
}

.nextshekveta2 {
    width: 400px;
    height: 200px;
    position: relative;
    left: 650px;
    top: -150px;
}

.nextshekveta2 img {
    width: 400px;
    height: 330px;
}




/*---card---*/
.card {
    background-image: url(img/card.jpg);
}

.registerform {
    top: 170px;
    left: 450px;
    position: relative;
}

.registerform input {
    height: 50px;
    margin-top: 20px;
    background-color: #ad9696;
}

.registerform input[ type="submit"] {
    background-color: #076b20;
}

.nervebi {
    position: relative;
    left: 400px;
    top: -150px;
}

.wre {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #100049;
    position: relative;
    animation: wretriali 5s 5s infinite;
}

@keyframes wretriali {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 450px;
        top: 0;
    }

    50% {
        left: 450px;
        top: 330px;
    }

    75% {
        left: 0;
        top: 330px;
    }

    100% {
        left: 0;
        top: 0;
    }
}






/*---purchase---*/
.purchase {
    background-image: url(img/about.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

.purchases {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: #222222;
    margin-left: 450px;
    margin-top: 150px;
}

.purchases img {
    width: 50px;
    height: 50px;
    position: relative;
    left: 120px;
    top: 30px;
}

.purchases p {
    font-size: 30px;
    position: relative;
    margin-left: 27px;
    top: 50px;
    color: #33ff00;
}

.purchases a {
    font-size: 14px;
    position: relative;
    color: #8b0000;
    top: 80px;
    left: 20px;
}



/*---contact---*/
.mesame {
    color: #ff0000;
    border: 1px solid #fff;
    background-color: #706d6d;
}

.contactphoto img {
    z-index: -1;
}

.contactfooter {
    background-color: rgb(32, 32, 32);
    margin-top: -150px;
}



/*---register---*/
.register {
    color: #ff0000;
    
}
.rregister{
    border: 1px solid #fff;
    background-color: #706d6d;
}



/*---Club Photo---*/
.Clubphoto {
    background-image: url(img/card.jpg);
}

.contactfoto {
    width: 320px;
    height: 240px;
}

.contactfoto img {
    width: 100%;
    margin-top: 110px;
    margin-left: 70px;
}

.contactfotomeore {
    width: 350px;
    height: 300px;
}

.contactfotomeore img {
    width: 100%;
    margin-left: 440px;
}

.contactfotomesame {
    width: 350px;
    height: 300px;
}

.contactfotomesame img {
    width: 100%;
    margin-top: -180px;
    margin-left: 840px;
}